#created{
  font-family: 'Oldenburg', cursive;
  color: white;
}

#top-banner{
  background-color: #FBD44B;
}

#welcome{
  background-color: inherit;
  margin-top: -5%
}

#welcomeText{
  font-family: 'Oldenburg', cursive;
  color: #FBD44B;
}

#managerLogin h3{
  color: #FBD44B;
}

#employeeLogin h3{
  color: #FBD44B;
}

#input-container {
  background-color: #FBD44B80;
  height: 20vh;
}

#mgr-input{
  margin-top: 5%;
}

#emp-input{
  margin-top: 5%;
}

#mgr-button{
  background-color: #FBD44B;
  font-family: 'Oldenburg', cursive;
  width: 25%;
  height: 5vh;
}

#mgr-button:hover{
    border: 2px solid white;
}

#emp-button{
  background-color: #FBD44B;
  font-family: 'Oldenburg', cursive;
  width: 25%;
  height: 5vh;
}

#emp-button:hover{
    border: 2px solid white;
}
